<ActionBar class="action-bar" style="position: absolute; left: 0;">
    <!-- <NavigationButton visibility="hidden"></NavigationButton> -->
    <GridLayout columns="50, *, 50">
      <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()" col="0"></Label>
      <Label class="action-bar-title" text="Produkty" col="1"></Label>
      <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()" col="2" width="100%"></Label>
    </GridLayout>
  </ActionBar>
  
  <GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
  </GridLayout>

  <GridLayout class="">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
  </GridLayout>
  